[Unit]
Description={APP} daemon
After=network.target

[Service]
PIDFile=/tmp/{APP}.pid
User=root
Group=root
WorkingDirectory={PATH}
ExecStart={PATH}/{APP}
Restart=always

[Install]
WantedBy=multi-user.target


